<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %title Scoring Log Viewer
    %body
      -#%a{ href: '/code_changes' } Изменения в коде
      -#&nbsp;
      %a{ href: '/open_search_form' } Поиск строки в логе
      &nbsp;
      %a{ href: '/bash_history' } История команд консоли
      &nbsp;
      %a{ href: '/audit' } Успешные входы
      &nbsp;
      %a{ href: '/failed_logins' } Неуспешные попытки входа
      &nbsp;
      %a{ href: '/penetrations' } Обнаружение вторжений
      &nbsp;
      %a{ href: '/iptables' } Записи в Iptables
      &nbsp;
      %a{ href: '/aide' } Изменения сис. файлов
      %hr
      = yield
