%form{ method: 'post',  action: '/search_in_production_log', :'accept-charset' => 'UTF-8' }
  %label{ for: 'search_string' } Строка для поиска
  %input{ type: 'text', name: 'search_string', id: 'search_string' }
  %input{ type: 'submit', value: 'Найти' }